body {
  background-image: url(https://images.unsplash.com/photo-1586861203927-800a5acdcc4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3RhciUyMHdhcnN8ZW58MHx8MHx8&w=1000&q=80);
 
  
  background-size: 100% auto;
  background-width: 100%;
  background-height:100%;
}


.start-button {
  display: inline-block;
  margin: 0;
  width: 100px;
  
}

.next-button {
  display: inline-block;
  margin: 0;
  width: 100px;
  
}

.page {
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  
  
}



#answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
 
}
#answers button {
width: 310px;
}

h1 {
  font-size: 50px;
  color: whitesmoke;
}
h2{
  font-size: 25px;
  color:whitesmoke
}
#final-score {
  font-size: 25px;
  color:whitesmoke;

}
#time-left {
  color:whitesmoke;
  font-size: 50px;
}


.answer-button:nth-child(1) {
  color:white; background: #666666; padding: 5px; margin-left: 35px;
}

.answer-button:nth-child(2) {
  color:white; background: #777777; padding: 5px; margin-left: 35px;
}

.answer-button:nth-child(3) {
  color:white; background: #888888; padding: 5px; margin-left: 35px;
}

.answer-button:nth-child(4) {
  color:white; background: #999999; padding: 5px; margin-left: 35px;
}

@media screen and (max-width: 786px) {
  body {
      display: flex;
      flex-direction: column;

  }
}
.alert-success{
  font-size: 40px;
  text-align:center;
  display:block;
  padding-bottom: 1000px;
  color:green;
  max-width: 100%;
  max-height: 100%;
  
  
}
.alert-error{
  font-size: 40px;
  text-align:center;
  display:block;
  padding-bottom:1000px ;
  color:red;
  max-width: 100%;
  max-height: 100%;

 }
 


 .div {
  color: whitesmoke;
 }